.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.nav {
  text-decoration: none;
  padding: 1em;
  background-color: black;
  color: white;
  text-align: right;
  font-weight: bold;
}

.hyperlinks {
  text-decoration: none;
  color: rgb(121, 121, 121);
  font-weight: bold;
}

p {
  text-align: center;
  padding: 0em;
  margin: 0em;
}

h1 {
  font-size: 5em;
  margin: 0.25em;
  text-align: center;
}

h3 {
  font-size: 3em;
  margin: 1em auto 0em auto;
  text-align: center;
  color: #686868;
  font-family: cursive;
  font-weight: lighter;
}

h4 {
  font-size: 2em;
  margin: 1em auto 0em auto;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0.5em auto;
  max-width: 40vh;
  display: flex;
  justify-content: center;
  min-width: 15vh;
  max-width: 25vh;
}

input {
  background-color: rgb(218, 218, 218);
  color: rgb(105, 105, 105);
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5em auto;
  padding: 0.5em;
  text-align: center;
  height: 0.5em;
  min-width: 20vh;
  max-width: 30vh;
}

select {
  display: flex;
  text-align-last: center;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  min-width: 30vh;
  height: 1.5em;
  margin: 0.5em auto 0.5em auto;
  border: 0.05em solid rgb(179, 179, 179);
}

form {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
}
/* ----------------- LOGIN PAGE -------------------------- */
.landingpageleft {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2em auto 2em auto;
  border: 0.05em solid grey;
  max-height: 65vh;
  min-height: 65vh;
  min-width: 80vh;
  max-width: 130vh;
  padding: 0.5em;
}

.landingpageright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2em auto 2em auto;
  border-style: double;
  border-color: grey;
  border-width: 0.25em;
  max-height: 65vh;
  min-height: 65vh;
  min-width: 50vh;
  max-width: 30vh;
  padding: 0.5em;
}

.landingpagebutton {
  margin: auto 1em;
}

.homepage {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.landingpageimg {
  width: 80%;
}

/* ----------------- LOGIN PAGE -------------------------- */
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/* ----------------- EXPLORER PAGE -------------------------- */

.search{
  display: flex;
  margin: auto;
}

.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.post-card {
  border-style: double;
  border-color: #686868;
  min-width: 20em;
  max-width: 20em;
  min-height: 15em;
  max-height: 15em;
  margin: 1em auto;
  text-align: center;
  display: flexbox;
  flex-wrap: wrap;
  background-image: radial-gradient(circle, white, grey, black);
}

/* ----------------- EXPLORER PAGE -------------------------- */
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/

/* ----------------- SINGLE POST PAGE -------------------------- */

.post-page {
  display: flexbox;
  align-items: center;
}
/* ----------------- SINGLE POST PAGE -------------------------- */
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/* ----------------- CREATE POST PAGE -------------------------- */

textarea {
  background-color: rgb(218, 218, 218);
  color: rgb(105, 105, 105);
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: .25 solid grey;
  max-height: 35vh;
  min-height: 15vh;
  min-width: 27vh;
  max-width: 27vh;
  margin: auto;

}
/* ----------------- CREATE POST PAGE -------------------------- */
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
/*---*/
header {
  width: 100%;
  position: top;
  top: 0em;
  /* margin: 0em auto 2em auto; */

}

footer {
  width: 100%;
  position: bottom;
  bottom: 0em;
  text-align: center;
  /* margin: 3em auto 0em auto; */
  padding: 0em;
}